html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

.MuiBottomNavigation-root > .MuiBottomNavigationAction-root.Mui-selected {
    color: white;
}

.location-icon {
    font-size: "2rem";
    color: "red";
}

.form-container > form > .form-row > .MuiFormControl-root > .MuiInputBase-root > input {
    font-size: 2rem !important;
}

#btn:hover {
    background-color: red;
    color: white;
}

#login-modal > div > form > .form-row > .MuiFormControl-root > .MuiInputBase-root > input {
    font-size: 2rem;
    width: 500px;
}

#log-in-btn.MuiBottomNavigationAction-root.Mui-selected {
    color: black;
}

#paginate-mainDiv > #paginate > ul.MuiPagination-ul {
    justify-content: center;
}

#error-page-btn:hover {
    color: white !important;
    background-color: red;
}

/*  media queries */

@media screen and (max-width: 1200px) {
    #card_main_div > #property_card {
        width: 15%;
    }
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 900px) {
    #card_main_div > #property_card {
        width: 45%;
    }
}
@media screen and (max-width: 600px) {
    #card_main_div > #property_card {
        width: 60%;
    }
}
@media screen and (max-width: 400px) {
    #card_main_div > #property_card {
        width: 75%;
    }
}
@media screen and (max-width: 300px) {
}
